body{
    ont-family: 'Bebas Neue', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
margin: 0;
}
#heading{
    text-align: center;
    background-color: brown;
    color: cornsilk;
    height: 150px;
    margin-bottom: 80px;
}
.left{
    display: flex;
    padding: 100px;
    padding-left: 10px;
    border: 2px solid blue;
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 200px;
    box-shadow: 10px 20px 40px rgb(27, 153, 226);

}
#h20{
    text-align:center;
}
.right{
    display: flex;
    margin-bottom: 30px;
    padding: 100px;
    box-shadow: 20px 20px 40px rgb(0, 162, 255);
    margin-top: 10px;
    margin-left: 200px;
    border: 2px solid blue;
    margin-bottom: 200px;
    
}
.go{
    display: flex;
}
h2{
    font-size: 30px;
}
.biger{
    display: flex;
    margin: 100px;
}
.nox{
    border-image: linear-gradient(tomato,blue,pink);
    border-image-slice: 1;
    height: 150px;
    box-shadow: 0px 0px 40px rgb(155, 13, 13);
    border-left: 5px solid red;
    padding: 30px;
    border-right: 5px solid yellow;
    border-top: 5px solid blue ;
    
}
.img {
    margin-left: 100px;
}
.sobi{
    margin-right: 100px;
}
#miss{
    text-align: center;
    color: saddlebrown;
}
section{
    background-image: url(image/best.jpg);
    background-repeat: no-repeat;
}
.five{
    display: flex;
    padding: 200px;

    
}
.four{
    box-shadow: 10px 10px 30px rgba(255, 81, 0, 0.911);
    padding: 80px;
    margin: 30px;
    margin-left: 50px;
    margin-right: 20px;
    border-image: linear-gradient(orangered,yellow,blue);
    border-image-slice: 1;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
    
    
}
#six{
    margin:50px;
    padding: 80px;
    margin-left: 500px;
    box-shadow: 10px 10px 30px rgb(255, 81, 0);
    border-image: linear-gradient(orangered,blue,rgb(255, 196, 0));
    border-image-slice: 1;
    border-left: 3px solid;
    border-right: 3px solid;
    border-top: 3px solid;
    border-bottom: 3px solid;
}
.color{
    color: blue;
}
#blod{
    text-decoration:none;
    border: 1px solid rgb(38, 76, 156);
    background-image: linear-gradient(rgb(0, 119, 255),rgb(255, 0, 179));
    
}
#noob{
    text-align: center;
}
.start{
    margin-bottom: 200px;
}
.loot{
    margin: 100px;
}
.tiki{
    margin: 47px;
}
.tik{
    margin: 90px;
}
#kana{
    margin-left: 150px;
}